.slide-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    background-color: #f8f9fa;
    padding: 2rem;
    box-sizing: border-box;
  }
  
  .slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    display: flex;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
  }
  
  .slide.active {
    opacity: 1;
    z-index: 1;
  }
  
  .text-slide {
    flex: 1;
    padding-right: 2rem;
  }
  
  .text-slide h2 {
    font-family: 'Great Vibes', cursive;
    font-size: 3.4rem;
    color: #474747;
    margin-left: 2rem;
    margin-bottom: 1rem;
  }
  
  
  .text-slide p {
    font-size: 1.2rem;
    color: #555;
  }
  
  .slide img {
    max-height: 550px;
    width: 80%;
    border-radius: 0.5rem;
    box-shadow: 0 4px 8px rgb(0 0 0 / 0.1);
    object-fit: cover;
    flex-shrink: 0;
  }
  
  .info-section {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
    max-width: 100%;
  }
  
  .info-left,
  .info-right {
    flex: 1;
    background-color: #ffffff;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgb(0 0 0 / 0.1);
    overflow-y: auto;
    max-height: 850px;
  }
  
  .info-left h2,
  .info-right h2 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: #414346;
  }
  
  .info-left p,
  .info-right p {
    font-size: 1rem;
    color: #7e7878;
    line-height: 1.5;
    text-align: justify;
  }
  
  /* Media query para telas até 768px */
  @media (max-width: 768px) {
    .slide {
      flex-direction: column;
      padding: 1rem 0;
    }
    
    .text-slide {
      padding-right: 0;
      margin-bottom: 1rem;
      text-align: center;
    }
  
    .text-slide h2 {
      font-size: 2rem;
    }
  
    .slide img {
      max-height: 250px;
      width: 100%;
    }
  
    .info-section {
      flex-direction: column;
    }
  
    .info-left,
    .info-right {
      max-height: none;
      width: 100%;
    }
  }
  